In [1]:
import random
import pandas as pd

Import class roster

In [2]:
class_roster = pd.read_csv('course_roster.csv')[['Name']]

#### Randomly order class roster for proposal presentations. Set the seed at 12345.

In [3]:
class_roster[['Name']].sample(frac = 1,random_state = 418)

                         Name
14              LIU, HENGYUAN
26          VO, KRISTINE PHAN
21                SHEN, YIFAN
5                  CHEN, MUZI
22                SON, HOCHAN
23          TU, TIMOTHY ENOCH
1             BUI, CHAU HOANG
24                URATA, YUKI
12            LENNEMANN, LUCY
11      KIM, ALEXANDER GUNWHI
27              WANG, JIAHENG
19                RAHAL, MARK
25      VELASQUEZ, MARY HELEN
17       NUSRATTY, SETARA EVA
20     SCHWARZ, ISAAC FORREST
18                ONG, YANG Z
30                  YAO, SHUN
4               CHEN, GAOHONG
0               BERZINS, NILS
3   CASTANEDA SANCHEZ, JANNET
31                 YIN, YIFAN
32                 ZHANG, ROY
7         CRAIG, ROBERT DAVID
28      WAVELL, SAMANTHA ANNE
13               LIN, FANCHAO
2                CAI, XINTONG
10               HUANG, ZEYAN
6                 CHEN, ZIHAO
8                  GUO, YANZE
15       LOBO, RAMIRO ERNESTO
33               ZHANG, YUXIN
29         WEN, DEREK HAOZHOU
16        LU, STEPHANIE HELEN
9         HALABI, AYAH RACHID